---
import Layout from '../layouts/Layout.astro';
import BGMusic from '@components/BGMusic.astro';
import Dandelion from '@components/Dandelion.astro';
import SpecialText from '@components/SpecialText.astro';
import Footer from '@components/Footer.astro';
import RainBG from '@components/RainBG.astro';
import PlayButton from '@components/PlayButton.astro';
import Carousel from '@components/Carousel.astro';

const pageTitle = "You and me"
---

<Layout pageTitle={pageTitle}>
	<main>
		<h1>
			<PlayButton />
			Podemos ser o refúgio um do outro?
			<Dandelion />
		</h1>
		<div class="wrap">
			<div>
				<SpecialText specialText="Sei que as coisas não estão fáceis agora/Mas penso em você quando escuto nossa música/Ainda quero cuidar de você, segurar suas mãos/O frio não incomodava tanto, porque estavamos juntos/Assim como o espaço dentro do meu casaco sempre foi seu/Esse cantinho é só nosso/Um pequeno site pra te lembrar o quanto você é especial para mim"/>
			</div>
			<Carousel />
		</div>
		
	</main>

	<RainBG />
	<BGMusic/>
	<Footer />
</Layout>

<style lang="scss">
	main{
		padding: 15px;
	}
	h1{
		font-family: "Dancing Script", cursive;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		gap: 10px;
		font-size: 3rem;
		@media screen and (max-width: 600px) {
			font-size: 2.5rem;
			flex-wrap: wrap;
			gap: 0;
		}

	}
	

	.wrap{
		@media screen and (min-width: 600px) {
			margin-inline: 100px;
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 30%;
		}
	}
</style>
