---
import '../styles/reset.css';
import '../styles/global.css';
const { pageTitle } = Astro.props
import '@fontsource/dancing-script';
import '@fontsource/lato';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link href="/you-and-me/favicon/light-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: light)">
		<link href="/you-and-me/favicon/dark-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: dark)">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>